#!/bin/sh

TMP=/var/log/setup/tmp

case $LANG in
	de_DE.utf8) kbd=de;;
	el_GR.utf8) kbd=gr;;
	en_GB.utf8) kbd=uk;;
	en_US.utf8) kbd=us;;
	es_ES.utf8) kbd=es;;
	es_CR.utf8) kbd="la-latin1";;
	fr_FR.utf8) kbd=fr;;
	it_IT.utf8) kbd=it;;
	nb_NO.utf8) kbd="no-latin1";;
	nl_NL.utf8) kbd=nl;;
	pl_PL.utf8) kbd=pl;;
	pt_BR.utf8) kbd="br-abnt2";;
	pt_PT.utf8) kbd="pt-latin1";;
	ru_RU.utf8) kbd="ruwin_cplk-UTF-8";;
	sv_SE.utf8) kbd="sv-latin1";;
	tr_TR.utf8) kbd=trq;;
	uk_UA.utf8) kbd=ua;;
	*) kbd=us;;
esac

tar xzOf /etc/keymaps.tar.gz ${kbd}.bmap > /dev/null && \
	tar xzOf /etc/keymaps.tar.gz ${kbd}.bmap | loadkmap
echo "${kbd}.map" > $TMP/Pkeymap
